In [1]:
#1) What is the result of the following operation 3+2*2?
3+2*2

7

In [2]:
#2) What is the type of the following variable: a=True?
a=True
type(a)

bool

In [3]:
# 3) What is the result of the following operation int(3.2)?
int(3.2)

3

In [4]:
# 4) Consider the string A='1234567', what is the result of the following 
# operation: A[1::2]
A='1234567'
A[1::2]

'246'

In [5]:
#5) Consider the string Name="Michael Jackson" , what is the result of the 
# following operation Name.find('el')
Name="Michael Jackson"
Name.find('el')

5

In [6]:
# 6) The variables A='1' and B='2' ,what is the result of the operation A+B?
A='1' 
B='2'
A+B

'12'

In [7]:
# 7) Consider the variable F="You are wrong", Convert the values in the 
# variable F to uppercase?
F="You are wrong"
F.upper()

'YOU ARE WRONG'

In [8]:
# 8) Consider the tuple tuple1=("A","B","C" ), what is the result of the
# following operation tuple1[-1]?
tuple1=("A","B","C" )
tuple1[-1]

'C'

In [9]:
# 9) Consider the tuple A=((11,12),[21,22]), that contains a tuple and list. 
# What is the result of the following operation A[1]:
A=((11,12),[21,22])
A[1]

[21, 22]

In [10]:
# 10) Consider the tuple A=((11,12),[21,22]), that contains a tuple and list.
# What is the result of the following operation A[0][1]:
A=((11,12),[21,22])
A[0][1]

12

In [11]:
# 11) What is the result of the following operation '1,2,3,4'.split(',')
'1,2,3,4'.split(',')

['1', '2', '3', '4']

In [14]:
# 12) Concatenate the following lists A=[1,'a'] and B=[2,1,'d']:
A=[1,'a']
B=[2,1,'d']
print(A+B)
# print(A-B)
# print(A*B)
# print(A/B)

[1, 'a', 2, 1, 'd']

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [16]:
# 13) How do you cast the list 'A' to the set 'a'?
A=[1,'a']
a=set(A)
a

{1, 'a'}

In [18]:
# 14) Consider the Set: V={'A','B'}, what is the result of V.add('C')?
V={'A','B'}
V.add('C')
V

{'A', 'B', 'C'}

In [19]:
# 15) Consider the Set: V={'A','B','C' }, what is the result of V.add('C')?
V={'A','B','C' }
V.add('C')
V

{'A', 'B', 'C'}

In [20]:
# 16) What is the output of the following lines of code:
x="Go"
if(x!="Go"):
    print('Stop')
else:
    print('Go ')
print('Mike')

Go
Mike

In [21]:
#  17) What is the output of the following lines of code:
x="Go"
if(x=="Go"):
    print('Go ')
else:
    print('Stop')
print('Mike')

Go
Mike

In [22]:
# 18) how many iterations are performed in the following loop?
for n in range(3):
    print(n)

0
1
2

In [23]:
# 19) What does the following loop print?
for n in range(3):
    print(n+1)

1
2
3

In [24]:
# 20) What is the output of the following few lines of code ?
A=['1','2','3']
for a in A:
    print(2*a)

11
22
33

In [25]:
# 21) Consider the function add, what is the result of calling the following 
# Add('1','1') (look closely at the return statement )
def Add(x,y):
    z=y+x
    return(y)
Add('1','1')

'1'

In [26]:
# 22) Consider the class Points, what are the data attributes: 
class Points(object):
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def print_point(self):
        print('x=',self.x,'y=',self.y)
# self.x et self.y

In [27]:
# 23) What is the result of running the following lines of code ?
class Points(object):
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def print_point(self):
        print('x=',self.x,' y=',self.y)

p1=Points(1,2)
p1.print_point()

x= 1  y= 2

In [28]:
# 24) What is the result of running the following lines of code ?
class Points(object):
    def __init__(self,x,y):
        self.x=x
        self.y=y
    def print_point(self):
        print('x=',self.x,' y=',self.y)

p2=Points(1,2)
p2.x=2
p2.print_point()

x= 2  y= 2

In [ ]:
# 25) Consider the following line of code: with open(example1,"r") as file1:
# What mode is the file object in?